<!DOCTYPE html>
<html>
<head>
  <title>CardboardBlog</title>
  <%= stylesheet_link_tag    "cardboard-blog/application", :media => "all" %>
  <%= javascript_include_tag "cardboard-blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
