= f.hidden_field :user_id, :value => cardboard_user.id
= f.input :title
= f.input :image, as: :image_preview
= f.input :slug, hint: "Hint: keyword effectiveness in URLs decrease as URL length and keyword position increases.", label: "URL slug", input_html:{value: f.object.slug}
= f.input :summary
= f.input :body, :"data-no-turbolink" => true do
  = f.input_field :body, as: defined?(CardboardRedactor) ? :redactor : :rich_text

= f.association :category, collection: Cardboard::Blog::Tag.all
= f.association :tags, input_html: {"data-search-select" => true, style: "width: 100%;"}

= f.button :submit
